/*
 * Fonts
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans/opensans-regular-webfont.eot');
    src: url('../fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans/opensans-bold-webfont.eot');
    src: url('../fonts/opensans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}

body {
    font-family: 'open_sans';
    font-weight: normal;
    font-size: 10px;
}

body * {
    -webkit-font-smoothing: antialiased;
}

.photo-enter {
    position: absolute;
    left: 100%;
    transition: left 500ms ease-out;
}

.photo-enter-active {
    left: 0; 
}

.photo-leave {
    position: absolute;
    left: 0;
    transition: left 250ms ease-in;
}

.photo-leave-active {
    left: 100%;
}

.header-enter {
    position: absolute;
    width: 100%;
    left: 25px;
    opacity: 0;
    transition: all 250ms ease-out;
}

.header-enter-active {
    left: 0;
    opacity: 1;
}

.header-leave {
    position: absolute;
    width: 100%;
    left: 0;
    opacity: 1;
    transition: all 250ms ease-out;
}

.header-leave-active {
    left: 25px;
    opacity: 0;
}

.content-enter {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 250ms ease-out;
}

.content-enter-active {
    opacity: 1;
}

.content-leave {
    position: absolute;
    width: 100%;
    opacity: 1;
    transition: opacity 250ms ease-out;
}

.content-leave-active {
    opacity: 0;
}